submission
kaggle
data
embed
.env
.venv

__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.pid
*.sqlite
*.db
*.db-journal
*.pypackage
*.egg-info/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py[co]
*.mo
*.swp
.DS_Store
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

db.sqlite3
